.a { height: 230px;
width: 155px;
background: blue;}
.b { background: rebeccapurple;
height: 230px;
width: 155px;}
#ab { display: flex;
    width: 320px;
justify-content: space-between;
margin-bottom: 10px;}
.c {height: 130px;
    width: 320px;
background: yellow;}
.d {height: 120px;
width: 100px;
background: bisque;}
.e {height: 120px;
width: 100px;
background: blueviolet;}
.f {height: 120px;
width: 100px;
background: brown;}
#def { display: flex;
    width: 320px;
justify-content: space-between;
margin-top: 10px;}

