.h230 {height: 230px;}
.h130 {height: 130px;}
.h120 {height: 120px;}
.w155 {width: 155px;}
.w320 {width: 320px;}
.w100 {width: 100px;}
.blue {background: blue;}
.flex {display: flex;}
.j-c {justify-content: space-between;}
.m-b {margin-bottom: 10px;}
.bord {border: 1px solid black;}
.box {box-sizing: border-box;}
.text {text-align: center;}